#img-bg{
    background-image: url('https://i.pinimg.com/originals/b2/35/7d/b2357d19807c32c8f1e29edefc8f0b9a.jpg');

    min-height: 625px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}