#img-bg{
    background-image: url('https://wallpapercave.com/wp/wp6661910.jpg');

    min-height: 625px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}